# model output files
**/outputs/*
**/output/*
**/anninputs*/*
**/timeseries/*
schism/*/prepare_schism.log

# large model files
*.nc # like hotstarts etc
*.th
*.ic
*.prop
**/restoration_dem/*
*.gr3
*.2dm
*vgrid.in.*
*hgrid.ll
*dem_misses.txt
*zsmoothsave.txt
*echo.yaml
*.dss
*.dsc
*.dsd
*.dsk
*.lnk
*.exe

# DSM2 download
*2021DSM2FP_202301

# SCHISM shapefiles
*.shp
*.sbx
*.sbn
*.shp.xml
*.shx
*.dbf
*.cpg
*.prj
*.qpj
# SCHISM hotstart stuff
schism/*/hotstart/*
!schism/*/hotstart/*.yaml
!schism/*/hotstart/*.py