# SET UP CONFIG TO IGNORE SYMLINKS
# git config --global core.symlink false

# model output files
**/outputs/*
**/*output*/*
**/output/*
**/sflux/*
! **/sflux/*.txt
**/anninputs*/*
**/timeseries/*
prepare_schism.log

# large model files
*.nc* # like hotstarts etc
*.th
*.th.nc
*.ic
*.prop
**/restoration_dem/*
*.gr3
*.2dm
*vgrid*.in.*
*hgrid.ll
*dem_misses.txt
*zsmoothsave.txt
*echo.yaml
*.dss
*.dsc
*.dsd
*.dsk
*.lnk
*.exe
**/hydraulics*.in
*.ll
*.log

# latinhypercube model specifics (these get set up with 4b_generate_SCHISM_bc_data.py)
schism/**/*simulations*/*
schism/**/az_yml_files/*
schism/**/pp_yml_files/*
schism/**/lhc_*
schism/azure*/*_inputs/*

# previous archived models
schism/archive/*

# linked atmospheric flux data
schism/**/atmos/*

# suxarray data
**/suxarray

# DSM2 download
*2021DSM2FP_202301

# SCHISM shapefiles
*.shp
*.sbx
*.sbn
*.shp.xml
*.shx
*.dbf
*.cpg
*.prj
*.qpj
*.CPG
*.sr.lock

# SCHISM NOAA data
**/noaa_download/*

# SCHISM symbolic linked files
**/bctides.in
**/launch.pbs
**/param.nml
**/vgrid.in

# SCHISM hotstart stuff
schism/**/hotstart/*
!schism/**/hotstart/*.yaml
!schism/**/hotstart/*.yml
!schism/**/hotstart/*.py

# SCHISM nudging stuff
schism/**/nudging/*
!schism/**/nudging/*.yaml
!schism/**/nudging/*.yml
!schism/**/nudging/*.py

# Linux error/operation messages
*.e[0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9]
*.log

# symlinked files
schism/**/hotstart.nc
schism/**/SAL_nu.nc
schism/**/TEM_nu.nc

# x2 generation and evap generation
schism/**/x2*.out
schism/**/evap*.csv

# extra run
**/mss_th_dsp_geom/**/*

# dsm2 pause
dsm2/**/latinhypercube_v4/*