# ignore model files
model/*/output*

# ignore lily's script to clean/modify file format of input data from DSS
data/fix_csv.py

# ignore output from latinhypercube generation
scripts/boundary_generation/data_out/*bundles*

# ignore caches
**/__pycache__/*
**/src
**/.vscode/*
**/*.pickle
**/tempCodeRunnerFile.py

# ignore ANN experiment output
**/ann_training/Experiments/*
**/ann_training/tf_training_logs/*
**/ann_training/plots/*
**/ann_training/data_out/*

# ignore large files
*.nc
scripts/post-processing/**/*.html